@mono-1: #c1c7d3;
@mono-2: #a8adba;
@mono-3: #8f95a1;
@mono-4: #777d88;
@mono-5: #606571;
@mono-6: #4a4f5a;
@mono-7: #353a44;
@mono-8: #21262f;
@hue-3: #fa5f8b;
@hue-5: #f06c6f;
@hue-7: #e17954;
@hue-6: #d08447;
@hue-4: #d3ab58;
@hue-8: #00ab9a;
@hue-2: #00a9b9;
@hue-1: #00a3d2;
